body{
	background-color: white;
	font-family: Open Sans;
}

#titleId{
	padding-left: 10%;
}

#logoNom{
	font-size: 48px;

}

#spots{
	padding: 20px 70px 0px 70px;
}

#menu{
	padding: 0% 50% 0% 0%;
}

#photoCom{
	border-radius: 50%;

}

#pad{
	padding: 0% 2% 0% 2%;
	border-radius: 5%;
	background-color: #a2b9bc;
	text-align: center;
	border-style: solid;
}

.first{
	position: relative;
	margin: 0% 5% 0% 5%;
	width: 90%;
}

.second{
	position: relative;
	margin: 0% 5% 0% 5%;
	width: 90%;
	background-color: grey;
}

footer{
	background-color: green;
	text-align: center
}