body{
	background-color: white;
	font-family: Open Sans;
}

#titleId{
	padding-left: 10%;

}

#logoNom{
	font-size: 48px;

}

#spots{
	padding: 20px;
}

#photoCom{
	border-radius: 50%;

}

#pad{
	padding-right: 20px;
}

footer{
	background-color: green;
	text-align: center
}