body{
	background-color: white;
	font-family: Open Sans;
}

#titleId{
	padding-left: 10%;
}

#logoNom{
	font-size: 48px;

}

#spots{
	padding: 20px 70px 0px 70px;
}

ul{
	list-style-type: none;
  	margin: 0;
  	overflow: hidden;
  	background-color: #fff;
	padding: 0% 5% 0% 0%;
}

li {
	float: left
}

li a{
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
}

#banner{
	width: 100%;
	margin: 0 auto;
}

#photoCom{
	border-radius: 50%;

}

#pad{
	padding: 0% 2% 0% 2%;
	border-radius: 5%;
	background-color: #a2b9bc;
	text-align: center;
	border-style: solid;
}

.first{
	position: relative;
	margin: 0% 5% 0% 5%;
	width: 90%;
	background-color: yellow;
}

.second{
	position: relative;
	margin: 0% 5% 0% 5%;
	width: 90%;
	background-color: grey;
}

footer{
	background-color: green;
	text-align: center
}